{% block extra_head %}
<link rel="stylesheet" href="/dashboard.css">
{% endblock %}
{% layout "base.liquid", heading:heading, title:title %}
{% block content %}

<details>
    <summary class="invert">Manage your account</summary>
    <p>
        Logged in as <strong>{{ username }}</strong>. <a href="/logout">Sign out</a>
    </p>
    <h3>Change your password</h3>
    <form class="change-pw" method="post" action="/change-password">
        <div class="form-group">
            <label for="old-pw">Current password</label>
            <input type="password" name="old-pw" id="old-pw">
        </div>
        <div class="form-group">
            <label for="new-pw">New password</label>
            <input type="password" name="new-pw" id="new-pw">
        </div>
        <div class="form-group">
            <label for="confirm-new-pw">Confirm new password</label>
            <input type="password" name="confirm-new-pw" id="confirm-new-pw">
        </div>
        <div class="form-group submit-group">
            <input type="submit" value="Set">
        </div>
    </form>
</details>

<details open>
    <summary class="invert">Your rooms</summary>
    <div class="rooms">
        <form class="room create-room" method="post" action="/create-room">
            <div class="room-title invert">Create a room</div>
            <div>
                <label class='hidden' for="room-name">Room name</label>
                <input required type="text" name="room-name" id="room-name" placeholder="Room name...">
            </div>
            <button type="submit" class="invert" value="Create"><i class="icon iconoir-plus create-icon"></i>
                Create</button>
        </form>
        {% for room in rooms %}
        <div class="room">
            <div class="room-title invert">
                {% if username == room.owner %}<i class='iconoir-crown'></i>{% endif %}
                {{ room.name }}</div>
            <div class="room-meta">
                <div>
                    {% if room.user_count > 1 %}
                    <span class="room-member-count invert">{{ room.count }}</span> members
                    {% else %}
                    <span>Just you. Invite someone!</span>
                    {% endif %}
                </div>
                <div><a href="/rooms/{{ room.id }}">Manage</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if invites.size > 0 %}
    <h3>Invites</h3>
    <div class="invites">
        {% for invite in invites %}
        <form method="post" action="/invites/{{ invite.id }}">
            <div class="invite-text">
                <strong>{{ invite.from }}</strong> invited you to <strong>{{ invite.roomName }}</strong>.
            </div>

            <div class="invite-actions">
                <button type="submit" value="accept" name="action" class="action invert">
                    <i class="iconoir-check action"></i>
                    <div class="hidden">Accept</div>
                </button>
                <button type="submit" value="reject" name="action" class="action invert">
                    <i class="iconoir-xmark action"></i>
                    <div class="hidden">Reject</div>
                </button>
            </div>
        </form>
        {% endfor %}
    </div>
    {% endif %}
</details>

{% endblock %}